.addEdit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0.2;
    padding: 20px;
    border: 1px solid #ccc;
    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        input[type="text"],input[type="email"],input[type="number"],select{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border-radius: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="submit"]{
            width: 100%;
            padding: 14px 20px;
            margin: 16px 0;
            border: none;
            cursor: pointer;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #ccac6c;
        }
        input[type="submit"]:hover{
            background-color: #45a049;
        }
    }
}
