.header{
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    p{
        color: black;
        text-align: center;
        padding: 1vw;
        text-decoration: none;
        font-size: 18px;
        line-height: 15px;
        border-radius: 4px;
        
    }
    .logo{
        font-size: 25px;
        font-weight: bold;
        color: #5c5239;
    }.logo:hover{
        background-color: #ddd;
        color:#5d6770;
    }.logo:active{
        background-color: #917c46;
        color: white;
    }
    
    .headerRight{
        display: flex;
        justify-content: center;
        align-items: center;
        p:active{
            background-color: #917c46;
            color: white;
        }
    }
    @media screen and (max-width:500px){
        .header{
            p{
                display: block;
            }
        }
    }
}